body{
    background-color: #4b4b4b;
}

h1,a{
    color: white;
}
a{
    color:white;
}

input{
    margin-top: 10px;
}

ul{
    display:inline;
}

canvas {
    max-width: 100%
}

#memetemplatesmall{
    margin-top: 1vw;
    margin-right: 1vw;
    width: auto;
    max-width: 600px;
    height: auto;
}

#memetemplatesmall2{
    margin-top: 1vw;
    margin-right: 1vw;
    width: auto;
    height: auto;
}

.example-div {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.fontbutton{
    margin-top: 0.3vw;
}

